%h1 Playstation 4 countdown
.timer
%p
  Till Playstation 4 Launches in the UK
.tweet
  <a id="tweet" href="https://twitter.com/share" class="twitter-share-button" data-text="@playstation 4 launches in the UK in" data-via="martinhaynes" data-size="large" data-related="playstation" data-hashtags="playstation4">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>